{% extends "base.html" %}
{% block content %}

    <div class="row mt-3">
        <div class="col mr-auto">
            <h3>{{ title }}:</h3>
            <h4><strong>{{ profile.username }}</strong></h4>
        </div>
        {% if user.is_staff %}
            <div class="col ml-5">
                <a class="btn btn-primary" href="/{{ category }}/update/{{ player.id }}/" role="button">Edytuj</a>
            </div>
        {% endif %}
    </div>

    <div class="row mt-3">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Ksywka:</th>
                <td>{{ profile.username }}</td>
            </tr>
            <tr>
                <th scope="row">Imię:</th>
                <td>{{ profile.first_name }}</td>
            </tr>
            <tr>
                <th scope="row">Nazwisko:</th>
                <td>{{ profile.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Parę słów o sobie:</th>
                <td>{{ profile.description }}</td>
            </tr>
            <tr>
                <th scope="row">Wiek:</th>
                <td>{{ player.get_age }}</td>
            </tr>
            <tr>
                <th scope="row">Płeć:</th>
                <td>{{ player.get_sex_display }}</td>
            </tr>
            <tr>
                <th scope="row">Pozycja:</th>
                <td>{{ player.get_position_display }}</td>
            </tr>
            <tr>
                <th scope="row">Preferowany numer na koszulce:</th>
                <td>{{ player.favourite_number }}</td>
            </tr>
            <tr>
                <th scope="row">W akademi od:</th>
                <td>{{ profile.in_academy_since }}</td>
            </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row mt-3">
                <div class="col mr-auto">
                    <h4>Powiązane zespoły:</h4>

                    {% for object in teams %}
                        <div class="card mt-3" style="width: 14rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title">{{ object }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a href="/team/{{ object.id }}/">Wyświetl profil</a>
                                </h6>
                                <p class="card-text">{{ object.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}